.legend {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  max-height: 160px; //16px is one, and a gap of 4 - 160px allows max 8 items per col
}

.chart {
  width: 300px;
  height: 300px;
}

.legendItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 120px;
  gap: 0.5rem;

  .legendText {
    color: white;
    line-height: 1;
    font-size: 1rem;
  }
}

.totalTreasury {
  margin-top: 8px;
  font-weight: 700;
  color: white;
  text-align: center;
}

.chartCard {
  height: 480px;
  width: 320px;
  align-items: center;
  justify-content: center;
}
