.headings {
  display: flex;
  margin-bottom: 1rem;

  .title {
    color: #ca6bff;
    display: flex;
    flex: 1 0;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .right {
    justify-content: center;
  }
}

.list {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;

  .left {
    display: flex;
    flex: 1 0;
    gap: 0.5rem;
    width: 120px;
  }

  .right {
    display: flex;
    justify-content: center;
    flex: 1 0;
    min-width: 120px;
  }
}

.inner {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
  margin-top: 16px;
}

.placeholder {
  width: 274px;
  height: 520px;
}
