.treasury {
  position: absolute;
  left: 50px;
  bottom: -23px;
  min-width: 175px;
  color: #ca6bff;
}

.updated {
  position: absolute;
  left: 50px;
  bottom: -55px;
  min-width: 175px;
  font-family: fantasy;
  height: fit-content;
}
